<div class="text-center">
	<h1 class="jumbotron">Disease List</h1>
	<img src="http://www.gizmocrazed.com/wp-content/uploads/2012/06/malaria-cure.jpg" alt="diseases">
	<% diseases.forEach(function(disease){ %>
			<div class="well">
				<a href="/diseases/<%=disease.id%>">
					<%=disease.name%>
				</a>
			</div>
	<% }); %>
</div>
