<h1>Enter new symptom</h1>
<form method="POST" action="/symptoms">
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" type="text" name="name">
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control" type="text" name="description"></textarea>
	</div>
	<div class="form-group">
		<label>Severity</label>
		<input class="form-control" type="number" name="severity">
	</div>
	<div class="form-group">
		<label>Affected Systems</label>
		<input class="form-control" type="text" name="affectedSystems">
	</div>
	<div class="form-group">
		<input class="btn btn-success" type="submit" value="Submit">
	</div>
</form>
