<!-- TODO Include related diseases -->

<h1>
	Symptom: <%= symptom.name%>
</h1>
<div class="well">
	<p>Description: <%=symptom.description%></p>
	<p>Affected Systems: <%=symptom.affectedSystems%></p>
</div>
